%header
  %nav
    %a.top
      codepuree
    %a.sub{:href => url_to(Person)}
      Puree people
    %a.sub
      = t('home.navigation.competences')
    %a.sub.last
      = t('home.navigation.contact')
    
  %nav
    %a.top
      = t('home.navigation.projects')
    - @works.each do |work|
      %a.sub{:href => url_to(work)}
        = work.title
      
  %div.lang
    = I18n.available_locales.join('/')